@import url(@angular/material/prebuilt-themes/indigo-pink.css);
//@import "~ngx-toastr/toastr";
.content {
  flex-grow: 1; /* Ensures the content div takes the remaining space */
}

.background-image {
  filter: opacity(70%) blur(3px);
  width: 100%;
  height: 99%;
  object-fit: cover; /* Ensures the image covers the entire area */
  position: absolute;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #d5d5d573 !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.crown {
  background-color: #fbbe28;
  color: white;
  border-radius: 50%;
}

.__file_menu.mat-menu-panel {
  min-width: 300px !important;
  max-width: 300px !important;
}

.__file_menu mat-icon {
  margin-right: 0 !important;
}

.__file_menu button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-dialog-container {
  padding: 0 !important;
}

.backdropBackgroundBlur {
  background-color: #bbbbbb7a;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

mat-form-field {
  width: 100%;
}

.br-50 {
  border-radius: 50%;
}

.bg-skyblue {
  background-color: #0288d1;
}

.avatar-overlap-action {
  margin-left: -10px !important;
  // background-color: #2b3674;
  z-index: 1;
}

.avatar-btn {
  z-index: 2;
}

.file-title-input .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    /* 1 */
    color: #bfe8ed;
    /* 2 */
  }
}

.white-svg {
  color: #ffffffb5;
}

.fs-22 {
  font-size: 22px !important;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.t-left {
  text-align: left !important;
}

.m-nav::-webkit-scrollbar {
  width: 10px;
}

.m-nav::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 3px;
}

.m-nav::-webkit-scrollbar-thumb {
  box-shadow: inset 5px -6px 16px 2px rgb(37 38 39);
  border-radius: 4px;
}

.fs-12 {
  font-size: 12px !important;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: black;
}

.chips {
  background-color: #424242;
  padding: 5px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// .width-content-max-hover:hover {
//   width: max-content !important;
// }

.chips:hover {
  background-color: #97ecf778 !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.flat-gray-button {
  background-color: #383838;
  color: whitesmoke;
}

.flat-gray-button:hover {
  background-color: #4f4f4f;
}

.hightlight-anim {
  background-size: 200% auto;
  background-image: linear-gradient(to right, #fff 50%, #ffff00b3 50%);
  background-position: 0% 0;

  animation-name: highlight-anim;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes highlight-anim {
  from {
    background-position: 0% 0;
  }

  to {
    background-position: -100% 0;
  }
}

.editing {
  background-color: rgb(249, 197, 100);
}

.mat-option-text,
.mat-select-value {
  text-transform: capitalize;
}

.pd-10 {
  padding: 10px;
}

.mat-menu-panel {
  overflow-x: hidden !important;
}

.mat-menu-item svg {
  margin-right: 10px !important;
}


/* STARTS animation dotted ellipsize for waiting */

/* <div class="loading-dots">Loading</div> */

.loading-dots {
  font-size: 30px;
  text-align: left;
  width: 100%;
  margin-left: 37%;
}

.loading-dots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* ENDS animation dotted ellipsize for waiting */


#gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;

  img {
    width: 100%;
    height: auto;
    margin: 4% auto;
    // box-shadow: -1px 3px 5px #dadada;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  video {
    width: 100%;
    height: auto;
    margin: 4% auto;
    // box-shadow: -1px 3px 5px #dadada;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.condensed-box {
  div.col-12 {
    margin: 0 auto 24px;
    max-width: 600px;
  }
}

@media (max-width: 1200px) {
  #gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 800px) {
  #gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 600px) {
  #gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}


.video-container {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;

  video {
    width: 140px;
    height: auto;
  }
}

.cdk-global-scrollblock {
  overflow: hidden;
}

.content-wrapper-scroll {
  height: calc(100vh - 170px);
  overflow-y: auto;
}

.text-center {
  text-align: center;
}

.mat-menu-item {
  small {
    font-style: italic;
    color: gray;
    display: none;
  }

  &:hover {
    small {
      display: initial;
    }
  }
}

.mat-select-search-control {
  // background-color: #e1e1e1 !important;
  padding: 10px !important;
  width: 100% !important;
}

.mat-select-search-control::placeholder {
  color: gray !important;
}

.gray {
  color: gray;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



.main-wrapper {
    padding-top: 62px;
    display: flex;
}

.content {
    width: calc(100% - 92px);
}
