
<div class="container"><br/><br/><br/>


      <h4>Fonctionnement du jeu</h4>
      <div class="row">
      <p class="text-justify">Tous les clients ayant <strong> un ticket de caisse ou une facture supérieure à 49€ </strong> retrouveront sur ces derniers un 
        numéro à 10 chiffres permettant une participation.
        Le jeu concours aura lieu sur une période de 30 jours durant lesquels 1 500 000 de tickets maximums 
        pourront être distribués. Les joueurs auront 30 jours à compter de la date de clôture du jeu pour aller sur le 
        site internet et tester le numéro de leur(s) ticket(s) ainsi que réclamer leur lot en magasin ou en ligne.
        À l’issue du jeu-concours, un tirage au sort sera effectué parmi tous les participants afin de déterminer le 
        gagnant d’un an de thé d’une valeur de 360€.
      
      </p> 
      <p class="text-justify">
        <strong>Attention:</strong> Pour le tirage au sort du gros lot, le nombre de participations d’un client n'augmente pas ses 
        chances de gagner. Tous les tickets du jeu-concours étant gagnant sur les lots intermédiaires plus un client 
        joue plus il gagne.
        Le règlement et les modalités du jeu-concours ont été déposés auprès de Maître Arnaud Rick huissier de 
        justice et le tirage au sort du gros lot sera également effectué sous le contrôle de ce dernier
      </p>
     </div>
     <h4>Contexte du jeu</h4>
     <div class="row">
      <p class="text-justify">
        Afin de fêter l’ouverture de leur 10ème boutique à Nice mais surtout afin d'attirer l’attention de nouveaux 
        clients sur leurs produits, la société ThéTipTop souhaite organiser un jeu-concours de type tirage au sort. 
      </p>
     </div>

        
        
    
      <h4>Lots à gagner</h4>
      <div class="row">
      <p class="text-justify">100% des tickets seront gagnants, voici la répartition des gains : </p> 
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <ul>
            <li>60% des tickets offrent un infuseur à thé</li>
            <li>20% des tickets offrent une boite de 100g d’un thé détox ou d’infusion</li>
            <li>10% des tickets offrent une boite de 100g d’un thé signature</li>
            <li>6% des tickets offrent un coffret découverte d’une valeur de 39€</li>
            <li>4% des tickets offrent un coffret découverte d’une valeur de 69€</li>
          </ul> 
        </div>
        <div class="col-md-1"></div>
      </div>


      <h4>Participation au jeu</h4>
     <div class="row">
  <div class="col-12 text-center my-4"> <!-- Classe text-center pour centrer votre bouton et my-4 pour ajouter de l'espace autour -->
    <p class="text-justify">
      Pour participer au jeu, veuillez cliquer sur le bouton ci-dessous et une fois connecté, vous pouvez saisir votre code à 10 chiffres pour découvrir votre gain.
    </p>
    <!-- Bouton Bootstrap avec les classes btn et btn-primary pour le style -->
    <a (click)="logIn()" class="btn btn-primary" role="button">Participer au jeu</a>
  </div>
</div>
 <br/> <br/> <br/> <br/>



      </div>
</div>