
    <div class="container mt-5">
        <h1>Mentions légales</h1>
        <p><strong>Dernière mise à jour : 08/01/2024</strong></p>
        <h2>Thétiptop</h2>
        <p>Vous êtes actuellement connecté au site <a href="https://tiptipfront.azurewebsites.net/">https://tiptipfront.azurewebsites.net/</a> de Thétiptop.</p>
        <p>Quelques informations sur la société ThéTipTop :
		<p>● Siège social : 18 rue Léon Frot, 75011 Paris</p>
		<p>● SA au capital Social de 150 000€</p>
		<p>● Gérant : Mr Eric Bourdon</p>
        <p>Email : <a href="mailto:thetiptop.service@gmail.com">thetiptop.serv@gmail.com</a></p>
        
        <h3>Directrices de la publication</h3>
        <p>Les directrices de la publication sont les deux associés de Thétiptop : Abdelaali oukhdouch : <a href="mailto:abdelaali.oukhdouch@gmail.com">abdelaali.oukhdouch@gmail.com</a> et Ayoub Sabir : <a href="">ayoubsabir@gmail.com</a>.</p>
        
        <h3>Hébergement</h3>
<p>Le Site est hébergé via Azure DevOps. Azure DevOps est une suite de services de développement logiciel fournie par Microsoft. Elle offre des solutions de planification de projets, de collaboration, de gestion de code source, de build, de déploiement continu, de test et de feedback.</p>
<p>Pour plus d'informations sur Azure DevOps et ses services, vous pouvez visiter leur site officiel.</p>
<p>Site web de l'hébergeur : <a href="https://azure.microsoft.com/fr-fr/services/devops/" target="_blank">Cliquez ici</a></p>

        
        <h3>Service client</h3>
        <p>Parce que vos questions méritent toute notre attention, notre service client traite chacune d’entre elles avec soin du lundi au samedi de 9h à 18h. Nous vous invitons tout d’abord à consulter notre rubrique Aide – FAQ, la réponse s’y trouve peut-être déjà, sinon, n’hésitez pas à nous contacter.</p>
        <p>Vous pouvez aussi consulter notre <a href="#">politique de confidentialité</a> et nos <a href="#">conditions générales de vente</a>.</p>
    </div>
    <!-- Inclusion de Bootstrap JS et ses dépendances -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

