<header></header>
<div class="wrapper">
	<div id="cercle"></div>
	<h2 class="title">Mentions légales et politique de confidentialité</h2>
	
    <div class="block">
    <div class="sub_title">Mis à jour le 14/08/2022</div>

		<p>Article 1 : Hébergement</p>
		    La présente Politique de confidentialité vise à vous informer de nos engagements sur les modalités de collecte, de traitement, et d'utilisation de vos données personnelles par le site internet www.thetiptop.fr ainsi que des moyens d’action à disposition des individus afin qu’ils puissent au mieux exercer leurs droits. Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à consulter le site de la cnil (www.cnil.fr).
		    <br><br>En accédant à ce site, vous reconnaissez avoir pris connaissance de cette Politique de confidentialité et l’accepter.
		    <br><br>La Société peut être contactée par email à l’adresse suivante : team@thetiptop.fr
		    <br><br>L’hébergement du site :
		    <br><br>Veuillez noter que la présente Politique de confidentialité est susceptible d’être modifiée ou complétée à tout moment. Ces modifications vous engagent dès leur mise en ligne et nous vous invitons donc à consulter régulièrement la présente Politique de confidentialité afin de prendre connaissance d'éventuelles modifications.
		<p>Article 2 : Contenu du site</p>
		    Toutes les marques, photographies, textes, commentaires, illustrations, images, vidéos ainsi que tous les éléments reproduits ou utilisés sur le site sont protégés par les lois en vigueur au titre de la propriété intellectuelle. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments sans l’accord préalable et écrit de l’éditeur sont strictement interdites. Le fait pour l’éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites judiciaires.
		<p>Article 3 : Responsabilités</p>
		    La responsabilité de l’éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l’accès au site ou à une de ses fonctionnalités.
		    <br><br>Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment d’attaques virales par Internet. Vous êtes par ailleurs seul responsable des sites et données que vous consultez.
		    <br><br>L’éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :
		    <br><br>–  du fait de l’usage du site ou de tout service accessible via Internet ;
		    <br>–  du fait du non-respect par vous des présentes légales.
		    <br><br>L’éditeur n’est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce fait.
		    Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire à raison de votre utilisation du site, il pourra se retourner contre vous pour obtenir l’indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.

		
				
	</div>
</div>
<footer></footer>
