<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2>Mes gains</h2>
            <div class="row">
                <!-- Utilisez col-md-6 pour obtenir 2 éléments par ligne sur les écrans medium et plus grands -->
                <div class="col-12 col-md-6 col-lg-12" *ngFor="let gain of gains">
                    <!-- Ajoutez ici la condition pour vérifier si userId est égal à 1 -->
                    <div class="card mb-4" *ngIf="gain.userId === rdm" style="flex-direction: row; max-width: 540px;">
                        <!-- Image Section -->
                        <img src="../assets/img/images/gain.png" alt="Image" class="card-img-left custom-image" style="width: 40%; object-fit: cover;">
                        <!-- Card Content -->
                        <div class="card-body">
                            <p class="card-text">Ticket: {{ gain.ticketTitle }}</p>
                            <p class="card-text">Claimed At: {{ gain.claimedAt }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
