<div class="container my-4">
  <mat-grid-list style="margin-top: 8rem;width: 84%;" cols="2" rowHeight="2:1" gutterSize="16">
    <ng-container *ngFor="let gain of gains">
    <ng-container *ngIf="isEqual(gain.email, userEmail)">
      <mat-grid-tile [ngClass]="{'card-border-orange': !gain.toValidate, 'card-border-green': gain.toValidate}" class="grid">
        <div>
          <div class="card-body">
          <div *ngIf="gain.toValidate" class="img">
                <img src="../assets/img/images/gain.png" alt="Image" class="card-img-top custom-image">
              </div>
              <!-- Sinon, affichez l'image normale -->
              <div *ngIf="!gain.toValidate" class="img">
                <img src="../assets/img/images/gain.png" alt="Image" class="card-img-top custom-image" style="filter: grayscale(100%);">
              </div>
            <h5 class="card-title ticket-title">{{ gain.ticketTitle }}</h5>
            <p class="claimedAt">{{ gain.claimedAt | date:'fullDate' }} à {{ gain.claimedAt | date:'shortTime' }}</p>
            <p class="card-text">Détails...</p>
            <p [ngClass]="{'text-orange': !gain.toValidate, 'text-green': gain.toValidate}">
              {{ gain.toValidate ? 'Validé' : 'En attente de la validation' }}
            </p>
          </div>
        </div>
      </mat-grid-tile>
      </ng-container>
    </ng-container>
  </mat-grid-list>
</div>
