<header></header>
<div class="wrapper">
	<div id="cercle"></div>
	<h2 class="title">Conditions générales d'utilisation</h2>
	
    <div class="block">
    <div class="sub_title">Mis à jour le 15/06/2022</div>

		<p>ARTICLE 1: Propriété intellectuelle</p>
            Tout contenu publié et mis à disposition sur ce site est la propriété de Thé Tip Top et de ses créateurs. Cela comprend, mais n’est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.
		    <br><br>Ces conditions générales d’utilisation ont pour objet de fixer les modalités d’accès des Utilisateurs au Site, les droits et obligations ainsi que les conditions de mise à disposition des Services de thetiptop. 
		    <br><br>Les présentes CGU s’appliquent, sans restriction ni réserve, à tous les services rendus par le prestataire auprès des utilisateurs du site.
            <br><br>L’Utilisateur souhaitant accéder et bénéficier des services du Site est tenu d’adhérer préalablement et sans réserve aux présentes CGU. 
            <br><br>La Société se réserve le droit de modifier, à tout moment et unilatéralement, le contenu des CGU. Les Utilisateurs sont invités à consulter régulièrement les CGU afin de prendre connaissance des changements apportés.
       <p>ARTICLE 2: Âge</p>
            L’âge minimum pour utiliser ce site est de 18 ans. Les utilisateurs conviennent qu’en utilisant notre site, ils ont plus de 18 ans. Nous n’assumons aucune responsabilité juridique pour les fausses déclarations sur l’âge.
        <p>ARTICLE 3 : Comptes</p>
            Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :
            <br><br>1. que vous êtes seul responsable de votre compte et de la sécurité et la confidentialité de votre compte, y compris les mots de passe ou les renseignements de nature délicate joints à ce compte, et
            <br><br>2. que tous les renseignements personnels que vous nous fournissez par l’entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s’ils changent.
            <br><br>Nous nous réservons le droit de suspendre ou de résilier votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d’utilisation acceptable.


        <p>ARTICLE 4 : CONDITIONS D'ACCÈS AU SITE ET AUX SERVICES</p>
            Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site thetiptop. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.
            <br><br>L’entreprise s’efforce de fournir un accès de qualité au Site et une utilisation des Services dans les meilleures conditions possibles.
            <br><br>Tout événement résultant d’un cas de force majeure affectant l’utilisation du Site et des Services, et ayant pour conséquence un dysfonctionnement du réseau ou du serveur est insusceptible d’engager la responsabilité de L’entreprise.
            <br><br>L’accès au Site et aux Services peut également faire l’objet à tout moment et sans préavis d’une interruption, d’une suspension, d’une fermeture temporairement ou définitive, d’une modification, en raison d’opérations de maintenance, de mises à jour ou pour toute autre raison.
            <br><br>L’entreprise n’est pas responsable des dommages de toute nature qui peuvent résulter de ces changements et/ou d’une indisponibilité temporaire ou encore de la fermeture définitive de tout ou partie du Site ou des Services qui y sont associés.
            <br><br>L’entreprise se réserve le droit de modifier, à tout moment, le Site en fonction de l’évolution des technologies.
            <br><br>À cet égard, l’Utilisateur s’engage à ne pas communiquer, divulguer ou céder son Identifiant et son Mot de Passe à une autre personne. Il est seul responsable de sa conservation. L’utilisateur peut demander à tout moment le changement de son mot de passe sur l’application.
            <br><br>L’Utilisateur doit avertir La Société dans les plus brefs délais de toute utilisation non autorisée de son mot de passe et de toute atteinte à la sécurité des personnes et des
            <br><br>Par mesure de sécurité ou de précaution, L’entreprise se réserve le droit de refuser, d’interdire et de suspendre temporairement ou définitivement l’accès au Service à un Utilisateur qui ne respecterait pas les CGU.
            <br><br>Les services réservés aux membres sont les suivants : 
           
        <p>ARTICLE 5 : Contact</p>
            <br>Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes :

            <br><br> 01 02 02 02 02
            <br><br> team@thetiptop.com
            <br><br> 105 place, 75011, Paris
            <br><br> Date d'entrée en vigueur : le 19 septembre 2022.
	</div>
</div>
<footer></footer>
