<header></header>
<div class="container">
	<div class="contact-form">
		<div class="contact-wrap">

			<form method="POST" id="contactForm" name="contactForm">
				<div class="row">
				
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="name" id="name" placeholder="Votre nom">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="email" class="form-control" name="email" id="email" placeholder="Votre email">
						</div>
					</div>
					<div class="col-md-12" style="text-align: center;">
						<div class="form-group">
							<input type="submit" value="s'inscrire" class="btn">
							<div class="submitting"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<footer></footer>
