<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/teahome.png" style="width: 200px;" class="img-fluid">
              <h1>Venez participer au jeu concours de Thétiptop CI/CD</h1>
              <p class="lead text-white">
 en participant à notre jeu-concours
100% gagnants !</p>


<div class="h4">C'est le moment de participer, il ne reste que </div>

<strong class="display-4">{{ displayTime }}</strong>

              <div *ngIf="!userIsAuthenticated" class="btn-wrapper mt-5">
                <a (click)="logIn()" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-trophy"></i></span>
                  <span class="btn-inner--text">Je participe</span>
                </a>
              </div>
              <div class="mt-5">
                <img src="./assets/img/teahome.png" style="height: 28px;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
 
<section class="info">
  <h1>Explorez la gamme variée des lots à gagner !</h1>
</section>
<section class="cards-wrapper">
  <div class="card-grid-space">
    <a class="card" style="--bg-img: url('../assets/img/images/teacard1.jpg')">
      <div>
        <p>Coffret découverte d'une valeur de 69€</p>
        <div class="tags">
          <div class="tag"></div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <a class="card" style="--bg-img: url('../assets/img/images/teacard2.jpg')">
      <div>
        <p>Coffret découverte d'une valeur de 39€</p>
        <div class="tags">
          <div class="tag"></div>
        </div>
      </div>
    </a>
  </div>

 <div class="card-grid-space">
    <a class="card" style="--bg-img: url('../assets/img/images/teacard3.jpg')">
      <div>
        <p>Boite de 100g de thé signature</p>
        <div class="tags">
          <div class="tag"></div>
        </div>
      </div>
    </a>
  </div>

   <div class="card-grid-space">
    <a class="card" style="--bg-img: url('../assets/img/images/teacard4.jpg')">
      <div>
        <p>Un infuseur à thé</p>
        <div class="tags">
          <div class="tag"></div>
        </div>
      </div>
    </a>
  </div>

   <div class="card-grid-space">
    <a class="card" style="--bg-img: url('../assets/img/images/teacard5.jpg')">
      <div>
        <p>Boite de 100g de thé détox ou thé infusion</p>
        <div class="tags">
          <div class="tag"></div>
        </div>
      </div>
    </a>
  </div>

  <div class="card-grid-space">
    <a class="card" style="--bg-img: url('../assets/img/images/teacard6.jpg')">
      <div>
        <p>Learn how to use links and images along with file paths…</p>
        <div class="tags">
          <div class="tag">HTML</div>
        </div>
      </div>
    </a>
  </div>
  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>

  <app-sections></app-sections>
</main>
