<section class="section section-lg">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Le jeu-concours
          <span class="text-success">Achetez & Gagnez</span>
        </h2>
        <p class="lead">Tentez de gagner de nombreux lots en participant au jeu-concours organisé par Thé Tip Top + 1 an de thé de notre gamme de signature d'une valeur de 360€ à gagner !</p>
        <div class="btn-wrapper">
          <a routerLink="/participate" class="btn btn-primary mb-3 mb-sm-0">Je participe</a>
        </div>
        <div class="text-center">
          <h4 class="display-4 mb-5 mt-5"></h4>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-4">
              <a target="_blank" placement="top" ngbTooltip="The Tip Top">
                <img src="./assets/img/teahome.png" class="img-fluid">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
